<h6 style="color:grey;">This notebook was prepared by Berra Nur Alinca</h6>

# Python

In [3]:
print("hello world")

hello world

## Comments and Multiline Comments
***
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [9]:
#this is a comment

In [13]:
#multiline comment1
#multiline comment2

## Variables
***
A variable is created the moment you first assign a value to it.

In [20]:
x=4 #this is a integer variable
y="name" #this is a string variable
print(x,y)

4 name

In [34]:
x=str(3)
y=int(3)
z=float(3)
print('x=',x,type(x))
print('y=',y,type(y))
print('z=',z,type(z))

x= 3 <class 'str'>
y= 3 <class 'int'>
z= 3.0 <class 'float'>

##### ! Variable names are case-sensitive.

In [41]:
a=67
A="numbers"
print(a,"this is a")
print(A,"this is A")

67 this is a
numbers this is A

#### Variables Names

Variables can have different names but there are certain rules


##### rules
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- A variable name must start with a letter or the underscore character
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the [Python keywords](https://www.geeksforgeeks.org/python-keywords/)

#### Certain Naming Conventions
It is best practice to choose one case style and stick with it. That way, your code will remain readable, easy to understand and maintainable for yourself and other developers.

- Snake case

Snake case separates each word with an underscore character (_) and all letters need to be lowercase

In [23]:
my_variable="snake case was used"
print(my_variable)

snake case was used

- Camel case

When using camel case,  first word needs to be lowercase. Then, you capitalize the first letter of each word that follows.

In [38]:
myVariable="camel case was used"
print(myVariable)

camel case was used

- Pascal case

Each word starts with a capital letter

In [45]:
MyVariable="pascal case was used"
print(MyVariable)

pascal case was used

##### Global Variables

Global variables can be used by everyone, both inside of functions and outside.

In [53]:
my_variable="variable one" 

def my_func():
    my_variable="variable two"
    print("this is "+my_variable)

my_func()
print("this is "+my_variable)

this is variable two
this is variable one

In [59]:
my_variable="variable one" 

def my_func():
    my_variable="variable two"
    
my_func()
print("this is "+my_variable)

this is variable one

In [61]:
my_variable="variable one " 

def my_func():
    global my_variable    #If you use the global keyword, the variable belongs to the global scope
    my_variable="variable two"
    print("this is "+my_variable)

my_func()
print("this is "+my_variable)

this is variable two
this is variable two

### Data Types
***

- Numeric type : int,float,complex
- Text type : str
- Squence type: list,tuple,range
- Boolean type:	bool
- None type:NoneType
- Mapping type:	dict

In [84]:
x=28
y=33.08
z=2j
print(x,type(x))
print(y,type(y))
print(z,type(z))

28 <class 'int'>
33.08 <class 'float'>
2j <class 'complex'>

##### Type() Function
type function shows the variable type

In [70]:
number_one=220
print(type(number_one))

<class 'int'>

##### Type Conversion

In [76]:
variable_one=15
variable_two=float(variable_one)
print("this is ",variable_one)
print("this is ",variable_two)

this is  15
this is  15.0

****You cannot convert complex numbers into another number type.****

##### Random Number

In [93]:
import random
print(random.randint(1,10))   #returns a number between 1 and 10

9

### Strings
***

###### Strings are arrays

In [107]:
x="this is string array"
print(x[2])

i

###### Looping Strings

In [110]:
y="thisisloop"
for x in y:
    print(x)

t
h
i
s
i
s
l
o
o
p

###### Len() Method

In [113]:
z="this string is 28 characters"
print(len(z))

28

###### Check with in

In [117]:
my_text="It is sunny today"    #if this string contains "sunny",returns true.
print("sunny" in my_text)

True

###### Check with not in

In [125]:
my_text="It is sunny today"   #if this string doesn't contain "rainy",returns true.
print("rainy" not in my_text)

True

###### İf with in

In [128]:
txt="I like listening rock"
if "rock" in txt:
    print("Yes...Me to.")

Yes...Me to.

###### İf with not in

In [134]:
txt="I like listening rock"
if "rap" not in txt:
    print("No..I don't  like it")

No..I don't  like it

###### Slicing
Get the characters from position x to position y (not included)

In [138]:
slicing_txt="thistextwassliced"
print(slicing_txt[3:7])

stex

In [26]:
slicing_txt="thistextwassliced"
print(slicing_txt[-7:-2])

sslic

###### Escape Characters

- single quote: \\'

In [24]:
print("that\'s right")

that's right

- new line :\\n

In [29]:
txt="new \nline"
print(txt)

new
line

##### String Methods

- upper(): Returns the string in upper case
- lower(): Returns the string in lower case

In [149]:
txt="this is a standart text."
print(txt.upper())
print(txt.lower())

THIS IS A STANDART TEXT.
this is a standart text.

- strip():Removes strings from the beginning and the end.

In [158]:
txt="222removed text22"
print(txt.strip('2'))

removed text

- replace():replaces a string with an another string

In [8]:
txt="replaced text"
print(txt.replace("e","a"))

raplacad taxt

- F Strings:

In [12]:
age=21
txt=f" I am {age}"
print(txt)

 I am 21

- capitalize():returns the first character to upper case.

In [36]:
txt="the first character is capitalized"
print(txt.capitalize())

The first character is capitalized

- center():centered string

In [77]:
txt="centered text"
print(txt.center(30))

        centered text

- format():same as f strings

In [52]:
txt="this is only {price}"
print(txt.format(price=22))

this is only 22

- dir():to see other methods of string

### Booleans
***
Returns True or False

- Any string is True, except empty strings.
- 
Any number is True, except
- Any list , tuple, set, and dictionary are True, except empty.nes.

In [75]:
print(bool("12"))

True

### Operators
***

- Arithmetic Operators

+	Addition	    x + y	
-	Subtraction	    x - y	
*	Multiplication	x * y	
/	Division	    x / y	
%	Mod  	        x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y

- Assignment Operators

  =   x = 5	x = 5	
 +=	  x += 3	x = x + 3	
 -=	  x -= 3	x = x - 3	
 *=   x *= 3	x = x * 3	
 /=	  x /= 3	x = x / 3	
 %=	  x %= 3	x = x % 3	
//=   x //= 3	x = x // 3	
**=   x **= 3	x = x ** 3	
 &=	  x &= 3	x = x & 3	
 |=	  x |= 3	x = x | 3	
 ^=	  x ^= 3	x = x ^ 3	
>>=	  x >>= 3	x = x >> 3	
<<=   x <<= 3	x = x << 3

- Comparison Operators

==	Equal	      x == y	
!=	Not equal     x != y	
>	Greater than  x > y	
<	Less than	  x < y	
>=	Greater than or equal to x >= y	
<=	Less than or equal to	 x <= y

- Logical Operators

                                                      x=4
and   Returns True if both statements are true   	  x < 5 and  x < 10	     true
or	  Returns True if one of the statements is true	  x < 5 or x < 4	     true
not	  Returns False if the result is true             not(x < 5 and x < 10)  false

### Lists
***
Lists are used to store multiple variables in a single variable

In [63]:
my_list=["garlic","bread","tomato"]
print(my_list[1])
print(my_list[-1])
print(my_list[0:2])

bread
tomato
['garlic', 'bread']

**!! A list can contain different data types**
***.Lists are changeable and ordered***

- combine list

In [67]:
letter_grades=["AA","BA","BB","CB","CC"]
grades=["100","90","80"]
all_grades=[letter_grades,grades]
print(all_grades)
all_grades[1][0]      #lists are indexed as a variable

[['AA', 'BA', 'BB', 'CB', 'CC'], ['100', '90', '80']]

'100'

- replace list

In [70]:
list_of_men=["ali","veli","ayse"]
list_of_men[2]="ahmet"
list_of_men

['ali', 'veli', 'ahmet']

- add and remove an element from the list

In [73]:
list_of_women=["ayse","fatma","veli"]
list_of_women.remove("veli")   
list_of_women.append("hayriye") 
print(list_of_women)
list_of_women.insert(0,"zeynep")
list_of_women

['ayse', 'fatma', 'hayriye']

['zeynep', 'ayse', 'fatma', 'hayriye']

- sort()

In [76]:
alphabet=["a","e","d","b","c","f"]         # was ordered the list alphanumerically
alphabet.sort()
alphabet

['a', 'b', 'c', 'd', 'e', 'f']

- copy()

In [79]:
old_list=["1","2"]
new_list=old_list.copy()
new_list

['1', '2']

###### dir():to see other methods of lists ######

### Tuples ###
***
Tuples can contain different data types.Tuples are ordered but not changeable (unchangeable).

In [96]:
thistuple = ("this is a tuple",)   
print(type(thistuple))

thistuple = ("not a tuple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### Dictionary
***
Dictionaries are used to store data values in key:value pairs.

In [29]:
this_dict={"name":"veli",
          "surname":"yilmaz",
          "age":"34"}
this_dict

{'name': 'veli', 'surname': 'yilmaz', 'age': '34'}

In [38]:
this_dict={"name":"veli",
          "surname":"yilmaz",
          "age":"34"}
this_dict["gender"]="male"        #add a key
this_dict
this_dict["name"]="ali"           #change a value
this_dict

{'name': 'ali', 'surname': 'yilmaz', 'age': '34', 'gender': 'male'}

- dict(): create dictionary
- keys(): return a list of all the keys
- values(): return a list of all the values
- pop():remove keys

In [69]:
cars_dict=dict(brand="mercedes",model="G63",year="2020")
print(cars_dict)
print(cars_dict.keys())
print(cars_dict.values())
cars_dict.pop("brand")
print(cars_dict)

{'brand': 'mercedes', 'model': 'G63', 'year': '2020'}
dict_keys(['brand', 'model', 'year'])
dict_values(['mercedes', 'G63', '2020'])
{'model': 'G63', 'year': '2020'}

###### dir():to see other methods of dictionary ######

### Sets
***
Sets are used to store multiple items in a single variable.

- difference()
- symmetric_difference()

In [111]:
girls=set(["deniz","ayse","leyla"])
boys=set(["ali","veli","deniz"])
print(girls.difference(boys))             # or girls-boys
print(boys.difference(girls))             # or boys-girls
girls.symmetric_difference(boys)

{'ayse', 'leyla'}
{'ali', 'veli'}

{'ali', 'ayse', 'leyla', 'veli'}

- intersection()

In [114]:
girls=set(["deniz","ayse","leyla"])
boys=set(["ali","veli","deniz"])
unisex=girls.intersection(boys)          # or girls & boys
print(unisex)

{'deniz'}

- union()

In [117]:
girls=set(["deniz","ayse","leyla"])
boys=set(["ali","veli","deniz"])
people=girls.union(boys)                 # or girls | boys
print(people)

{'veli', 'deniz', 'ali', 'ayse', 'leyla'}

###### dir():to see other methods of set ######

### Loops
***
- For: A for loop is used for iterating over  a list, a tuple, a dictionary, a set, or a string.

In [40]:
for i in "python":
    print("*"+i+"*")

*p*
*y*
*t*
*h*
*o*
*n*

In [38]:
numbers=["1","2","3"]
for x in numbers:
    print(x)

1
2
3

##### Break and Continue
-  Break statement stops the loop before it has looped through all the items.
-  Continue statement stops the current iteration of the loop, and continue with the next.

In [89]:
numbers=[-1,0,1,-3,7]
for x in numbers:
    if x < 0:
        print("negative numbers:"+ str(x))
    elif x == 0:
        continue
    else:
        print("positive numbers:"+ str(x))

negative numbers:-1
positive numbers:1
negative numbers:-3
positive numbers:7

- While: While  loops a list as long as a condition is true.

In [94]:
x=0
while x < 10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

### If-Else-Elif
***
- If: If the condition is true ,first this condition
- Elif: If the previous conditions were not true, then this condition
- Else: If all other conditions were not true, finally this condition

##### Conditions

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

In [26]:
exam_grade=float(input())
if exam_grade > 50:
    print("you passed the exam")

elif exam_grade == 50:
    print("you passed the exam barely")

else:
    print("you failed the exam")

 50

you passed the exam barely

### Functions and Funciton Literacy
***
A function is a block of code which only runs when it is called.

- def: Creating a new function

In [105]:
def squaring_numbers(x):
    return(x**2)
numbers=[1,2,3,4,5,6,7]
for x in numbers:
    print(squaring_numbers(x))

1
4
9
16
25
36
49

## OOP(Object Oriented Programming)
***

### Class
***
Classes are structures that contain methods and variables. Classes have similar attributes and common purpose.

#### Class Attributes

In [21]:
class my_students:
    s_number="223292191"
    s_old=18
s1=my_students()
print(s1.s_number+"  "+str(s1.s_old))

223292191  18

##### init():Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created

In [39]:
class m1_students:
    def __init__(self,number,old):
        self.number=number
        self.old=old
s1=m1_students("22329219",18)
print(s1.number+"  "+str(s1.old))

22329219  18

### Inheritance
***
- Parent class is the class being inherited from
- Child class is the class that inherits from another class

In [23]:
class employees():
    def __init__(self, f_name, l_name):
        self.f_name = f_name
        self.l_name = l_name

class engineers(employees):
    def __init__(self, f_name, l_name, programming):
        super().__init__(f_name, l_name)
        self.programming = programming

computer_engineer = engineers("ali", "yilmaz", "c++")
print(computer_engineer.f_name)

ali

##### Polymorphism
***
Polymorphism is used in Class methods, where we can have multiple classes with the same method name.

In [34]:
class cars:
    def __init__(self,c_brand,c_model):
        self.c_brand=c_brand
        self.c_model=c_model
    def move(self):
       print("drive")

class planes:
    def __init__(self,p_brand,p_model):
        self.p_brand=p_brand
        self.p_model=p_model
    def move(self):
       print("fly")

class boats:
    def __init__(self,b_brand,b_model):
        self.b_brand=b_brand
        self.b_model=b_model
    def move(self):
       print("sail")
car_1=cars("mercedes","G63")
plane_1=planes("airbus","320")
boat_1=boats("azuure","33C")
for x in (car_1,plane_1,boat_1):
    x.move()

drive
fly
sail

##### Scope
***
- Local Scope: A variable created inside a function
- Global Scope: A variable created in the main body

In [48]:
x="global x"
def my_function():
    x="local x"
    print(x)

print(x)
my_function()

global x
local x

##### Math
***

In [53]:
import math
x=math.sqrt(9)
print(x)

3.0

In [55]:
import math
y=math.ceil(27.8)
print(y)

28

### Funcitonal Programming
***

##### Anonymus Functions

In [11]:
new_sum=lambda x,y: x+y
new_sum(6,9)

15

##### Vectorel Functions

In [35]:
import numpy as np
a=np.array([1,2,3,4])
b=np.array([5,6,7,8])
a*b

array([ 5, 12, 21, 32])

##### Map & Filter

In [40]:
number_lists=[10,11,12,13]
list(map(lambda i:i*5,number_lists))  #map functions

[50, 55, 60, 65]

In [48]:
numbers=[1,2,3,4,5,6,7,8]
even_numbers=list(filter(lambda x:x%2==0,numbers)) 
even_numbers

[2, 4, 6, 8]

### Exceptions
***
When an error or exception , Python will normally stop and generate an error message.

These exceptions can be handled using the try statement:

In [56]:
a=22
b=0
#print (a/b)   #ZeroDivisionError
try:
    print(a/b)
except ZeroDivisionError:
    print("b cannot be zero")

b cannot be zero

##### Sources
***
 - https://www.freecodecamp.org/news/snake-case-vs-camel-case-vs-pascal-case-vs-kebab-case-whats-the-difference/
 - https://www.w3schools.com/python/default.asp
 - https://www.geeksforgeeks.org/python-keywords/